footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f26e29;
  color: white;
  margin: 0px;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

p {
  margin: 0px;
}
